.app {
  font-family: sans-serif;
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
}

.app-fetch-button {
  width: 25%;
  padding: 16px;
  margin: 16px;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background-color: lemonchiffon;
  border-radius: 25px;
  transition: all 0.3s;
  position: fixed;
  left: 20px;
  bottom: 20px;
}
.app-fetch-button:hover {
  background-color: crimson;
  color: white;
}

.app-doggies {
  max-width: 400px;
  margin: auto;
}

.app-doggies-item {
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  margin: 10px 0px;
}

.app-doggies-item-img {
  max-width: 400px;
}

.app-doggies-item-index {
  font-size: 19px;
  color: #333;
  text-align: start;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
}

.app-doggies-item-url {
  padding: 10px;
  font-size: 16px;
  text-align: start;
  word-break: break-all;
}
